@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #a5d9c8;
  --color-secondary: #f6f0c6;
  --font-sans: "Nunito", sans-serif;
  --background-image-header-gradient: linear-gradient(
    270deg,
    #f6f0c6 0%,
    #d9135d 0.01%,
    rgba(214, 19, 92, 0.996895) 0.02%,
    #f6f0c6 0.03%,
    #a6d9c8 80.73%,
    #a5d9c8 100%
  );
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .drop-shadow-md {
    box-shadow: 1px 1px 6px 0px #00000026;
  }
}
